.venv/
.venv1/
.python/
__pycache__/
*.py[cod]
.idea/

sia/
Synthdog-RTL/
tmp/
*.log

models/**
checkpoints/
saved_models/
exports/
.ipynb_checkpoints/
data/datasets/recognition_v3/
data/datasets/hezar2/
data/raw/PTDR/
